{% extends 'base.html' %}

{% block content %}
<div class="card mb-3">
    <div class="card-body">
        {% if page %}
        <br>
        <h2 class="page-header">Товары склада Pernod Ricard:</h2>
        <br>
        {% for products in page.object_list %}
        <div class="container" style="width: 60%;">
            <div class="card my-4">
                <img class="card-img-top" src="{{ MEDIA_URL }}{{ products.image.url }}" alt="Card image cap"
                     style="width: 100%;">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="card-title">Бренд: {{ products.brend }}</h5>
                    </div>
                    <p class="card-text">Наименование: {{ products.product }}</p>
                    <p class="card-text">Количество: {{ products.count }}</p>
                    <a href="{% url 'order_product' pk=products.pk %}" class="btn btn-student btn-lg"
                       role="button">Заказать</a>
                    <a href="{% url 'return_product' pk=products.pk %}" class="btn btn-teacher btn-lg"
                       role="button">Вернуть</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{page.previous_page_number}}"><<</a>
                </li>
                {% endif %}
                <li class="page-item"><a class="page-link">{{ page.number}}</a></li>
                {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page.next_page_number}}">>></a></li>
                {% endif %}
            </ul>
        </nav>
        {% else %}
        <div class="card text-center">
            <div class="card-header">
                Список пуст
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>На складе отсутствуют товары!</p>
                    <footer class="blockquote-footer">Кажется компания <cite
                            title="Source Title">Pernod
                        Ricard!</cite> не хочет предостовлять свой товар клиентам.
                    </footer>
                </blockquote>
            </div>
        </div>
        {% endif%}
    </div>
</div>
{% endblock %}
