{% extends 'base.html' %}

{% block content %}
{% if page %}
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Поиск согласованых или отклоненных заказов:</a>
    <form class="form-inline" method="GET" action="/history_ord_employee/">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
</nav>
<div class="card mb-3">
    <div class="card-body">
        <br>
        <h2 class="page-header">Заказы клиентов Pernod Ricard:</h2>
        <br>
        {% for history in page.object_list %}
        <div class="container" style="width: 60%;">
            <div class="card my-4">
                <img class="card-img-top" src="{{ MEDIA_URL }}{{ history.order.product.image.url }}"
                     alt="Card image cap"
                     style="width: 100%;">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="card-title">Бренд: {{ history.order.product.brend }}</h5>
                    </div>
                    <p class="card-text">Наименование: {{ history.order.product.product }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Заказали(в количестве): {{ history.order.count }}</li>
                        <li class="list-group-item">Кто: {{ history.order.user.username }}</li>
                        <li class="list-group-item">Дата: {{ history.order.date }}</li>
                        <li class="list-group-item">Комментарий заказчика: {{ history.order.comment }}</li>
                        <li class="list-group-item">Ответ: {{ history.response }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{page.previous_page_number}}"><<</a>
                </li>
                {% endif %}
                <li class="page-item"><a class="page-link">{{ page.number}}</a></li>
                {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page.next_page_number}}">>></a></li>
                {% endif %}
            </ul>
        </nav>
        {% else %}
        <div class="card text-center">
            <div class="card-header">
                Список пуст
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>По вашему запросу ничего не найдено. Или же вы не ответили ещё ни на один заказ. Предлагаю вам посетить стрницу заказов для согласования или
                        отклонения заявок.</p>
                    <a href="{% url 'order' %}" class="btn btn-primary">Перейти к заказам</a>
                </blockquote>
            </div>
        </div>
        {% endif%}
    </div>
</div>
{% endblock %}