{% extends 'base.html' %}

{% block content %}
<div class="card mb-3">
    <div class="card-body">
        <br>
        <h2 class="page-header">Товары склада Pernod Ricard:</h2>
        <br>
        {% for products in page.object_list %}
        <div class="container" style="width: 60%;">
            <div class="card my-4">
                <img class="card-img-top" src="{{ MEDIA_URL }}{{ products.image.url }}" alt="Card image cap"
                     style="width: 100%;">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="card-title">Бренд: {{ products.brend }}</h5>
                    </div>
                    <p class="card-text">Наименование: {{ products.product }}</p>
                    <p class="card-text">Количество: {{ products.count }}</p>
                    <a href="{% url 'edit_product' pk=products.pk %}" class="btn btn-primary">Редактировать</a>
                </div>
            </div>

            </div>
        {% endfor %}
        <div >
                {% if page.has_previous %}
                <a href="?page={{page.previous_page_number}}">
                    <
                </a>
                {% endif %}
                <span>{{ page.number}}</span>
                {% if page.has_next %}
                <a href="?page={{page.next_page_number}}">
                    >
                </a>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}
