{% extends 'base.html' %}
{% block content %}
{% if page %}
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Поиск товаров по наименованию и бренду:</a>
  <form class="form-inline" method="GET" action="/home_employee/">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
  </form>
</nav>
<div class="card mb-3">
    <div class="card-body">
        <br>
        <h2 class="page-header">Товары склада Pernod Ricard:</h2>
        <br>
        {% for products in page.object_list %}
        <div class="container" style="width: 60%;">
            <div class="card my-4">
                <img class="card-img-top" src="{{ MEDIA_URL }}{{ products.image.url }}" alt="Card image cap"
                     style="width: 100%;">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="card-title">Бренд: {{ products.brend }}</h5>
                    </div>
                    <p class="card-text">Наименование: {{ products.product }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Количество: {{ products.count }}</li>
                    </ul>
                    <br>
                    <a href="{% url 'edit_product' pk=products.pk %}" class="btn btn-primary">Редактировать</a>
                    <a href="{% url 'delete_product' pk=products.pk %}"><button type="button" class="btn btn-danger">Удалить</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{page.previous_page_number}}"><<</a>
                </li>
                {% endif %}
                <li class="page-item"><a class="page-link">{{ page.number}}</a></li>
                {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{page.next_page_number}}">>></a></li>
                {% endif %}
            </ul>
        </nav>
        {% else %}
        <div class="card text-center">
            <div class="card-header">
                Список пуст
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>По вашему запросу ничего не найдено. Или же на складе отсутствуют товары! Предлогаю вам пройти и заполнить форму для добовления товара на
                        склад.</p>
                    <a href="{% url 'add_product' %}" class="btn btn-primary">Добавить товар</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>
{% endif%}
{% endblock %}
