{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card mb-3">
<img src="{% static 'img/pernod_ricard.jpg' %}" class="center-block" style="width: 100%;">
<div class="card-body">
    <h2>Вас привктствует Pernod Ricard! <span class="icon-emo-happy"></span></h2>
    <p class="lead">
        Если вы уже имеете у нас аккаунт, вы можете пройти <a href="{% url 'login' %}">авторизацию</a>. А если же вы
        первй раз на нашем сайте
        советуем вам пройти регистрацию. Зарегестрируйтесь как <a href="{% url 'client_signup' %}">клиент</a> или же как
        <a href="{% url 'employee_signup' %}">работник склада</a>.
    </p>
    <hr>
    <h3>Что же это за сайт?</h3>
    <p class="lead">
        На нашем сайте, если вы клиент Pernod Ricard вы можете сделать заказ определённых товаров и вернуть товары если
        вы их брали.
        Если вы работник склада Pernod Ricard вы можете кантролировать заказы со склада и вести полный учёт склада.
    </p>
</div>
</div>
{% endblock %}
