{% extends 'base.html' %}

{% block content %}

<h2 class="mb-3">Products</h2>
<div class="card">
    <table class="table mb-0">
        <thead>
        <tr>
            <th>Brend</th>
            <th>Name</th>
            <th>Count</th>
            <th>Img</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for products in products %}
        <tr>
            <td class="align-middle">{{ products.brend }}</td>
            <td class="align-middle">{{ products.product }}</td>
            <td class="align-middle">{{ products.count }}</td>
            <td class="align-middle"><img src="{{ MEDIA_URL }}{{ products.image.url }}"></td>
        </tr>
        {% empty %}
        <tr>
            <td class="bg-light text-center font-italic" colspan="5">Out of stock items</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}